body{
    background-color: black;
}

.card{
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    background-size: cover;
    padding: 1px 20px;
    margin: auto;
    margin-top: 10%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

.instagram{
    list-style-image: url("../assets/Insta.png");
}

.twitter{
    list-style-image: url("../assets/Twitter.png");
}

.youtube{
    list-style-image: url("../assets/Youtube.png");
}