/*EXERCÍCIO 1 & 3*/

.container{
    width: 500px;
    height: 500px;
    background-color: gray;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tamanho{
    width: 100px;
    height: 100px;
}

.vermelho{
    background-color: red;
}

.verde{
    background-color: green;
}

.azul{
    background-color: blue;
}

/*EXERCÍCIO 2*/

.container2{
    width: 500px;
    height: 500px;
    background-color: gray;
    display: flex;
}

.vermelho2{
    background-color: red;
}

.verde2{
    background-color: green;
}

.azul2{
    background-color: blue;
    align-self: center;
}

.amarelo2{
    background-color: yellow;
    align-self: center;
}

.roxo2{
    background-color: purple;
    align-self: flex-end;
}


/*EXERCÍCIO 3*/

/*EXERCÍCIO 4*/

/*EXERCÍCIO 5*/